@media (min-width: 1px) and (max-width: 767px) {
    .submenu--group.mobile {
        display: block;
    }
}

@media (min-width: 1px) and (max-width: 767px) {
    .submenu--group.mobile a {
        margin-bottom: 10px;
        width: 30%;
        border-radius: 0px;
    }
}

input[type="date"] {
    -webkit-appearance: none;
    appearance: none;
}

/* mobileApp */

.mobile--menu {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: var(--color-scheme-2);
    height: 8vh;
    display: flex;
    z-index: 11;
    max-height: 60px;
    align-items: center;
    justify-content: initial;
}

.mobile--menu .btn {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    border: none;
    border-top: 2px solid var(--color-card);
    border-radius: 0px;
}

.mobile--menu .btn img {
    width: 100%;
    height: 72%;
    object-fit: contain;
}

.mobile--menu .btn:focus,
.mobile--menu .btn:hover,
.mobile--menu .btn.active {
    border: none;
    background-color: var(--color-card);
    border-top: 2px solid var(--color-theme-secondary);
}

.mobile--menu .btn:focus img,
.mobile--menu .btn.active img {
    transform: scale(1.3);
}

/* sidebar-menu */

.sidebar--menu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: var(--color-scheme-2);
    z-index: 12;
    overflow: hidden;
}

.sidebar--menu .btn--scheme {
    border-bottom: 3px solid white;
    width: 100%;
    border-radius: 0px;
    max-width: 190px;
    margin-bottom: 40px;
    font-size: 18px;
    padding: 10px 0px;
}

.sidebar--menu .btn--scheme:hover,
.sidebar--menu .btn--scheme:focus {
    max-width: 210px;
    border-bottom: 3px solid var(--bg-golden-dark);
}

.sidebar--menu .btn--close {
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 10px;
}
