/* .animated-bg {
    background: linear-gradient(75deg, #1d1e24, #23262b);
    background-size: 120% 120%;
    animation: gradient-animation 2s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

