/* brands */

.sideways--title {
    text-orientation: sideways;
}

.sideways--left {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
.brands--card h5 {
    height: 200px;
    padding-left: 8px;
    border-left: 1px solid #9c9c9c;
}

.layout--wrapper {
    border: 1px solid #23262b;
    padding: 25px 20px;
    border-radius: 12px;
}

/* copy */
.copy--icon {
    cursor: pointer;
}
.copy--icon {
    color: var(--bs-warning);
}

/* ----------------------------------- */

/* bundles */
.table--bundle-feature:after {
    content: "/";
    color: var(--bs-warning);
    font-size: 13px;
    margin: 0px 3px;
}

/* bundles */
.table--bundle-feature:last-of-type:after {
    content: none;
}

/* ----------------------------------- */

.btn--confirm {
    border: none;
    border-bottom: 2px solid var(--color-theme-secondary);
    border-radius: 0px;
    padding: 0px;
}

.btn--confirm:hover,
.btn--confirm:focus {
    border-bottom: 2px solid var(--bs-warning);
}

/* ----------------------------------- */

/* ----------------------------------------- */

/* fallback */

.processing--fallback {
    position: absolute;
    top: -3%;
    left: 0px;
    width: 100%;
    height: 103%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23262bfc;
    border-radius: 5px;
}
