.question--link {
    width: 100%;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-theme-secondary);
    border-radius: var(--radius) 0px 0px var(--radius);
}

.question--link {
    width: 100%;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-theme-secondary);
    border-radius: var(--radius) 0px 0px var(--radius);
}

.question--link.reverse {
    background-color: transparent;
    border-radius: 0px var(--radius) var(--radius) 0px;
}

/* button checkboxes */

.button--checkbox {
    height: var(--input-height);
    display: inline-flex;
    align-items: center;
    width: 18%;
    padding: 0px;
    margin: 0px 7px 8px 0px;
    justify-content: center;
}

.button--checkbox.active {
    background-color: var(--color-theme-secondary);
    transform: scale(0.93);
}

@media (min-width: 1px) and (max-width: 575px) {
    .button--checkbox {
        width: 47%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .button--checkbox {
        width: 30%;
    }
}

@media (min-width: 1400px) {
    .button--checkbox {
        width: 13%;
    }
}

/* phone input */

.form--phone-input {
    position: relative;
}

.form--phone-input span {
    position: absolute;
    font-size: 13px;
    left: initial;
    background-color: var(--input-border-color);
    top: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: var(--input-radius) 0px 0px var(--input-radius);
    width: 27%;
    justify-content: center;
    color: var(--color-scheme-dark-1);
    letter-spacing: 0.9px;
}

.form--phone-input input {
    padding-left: 33%;
    letter-spacing: 0.9px;
}

/* coupon */
.coupon--input.active {
    border-color: var(--bs-warning);
}

/* back button */

.subscription--back-button {
    position: absolute;
    top: 20px;
    font-size: 13px;
    left: 15px;
    z-index: 1;
    border: 1px solid var(--bg-golden);
}

@media (min-width: 768px) {
    .subscription--back-button {
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 13px;
        border: 1px solid var(--bg-golden);
    }
}
