.kitchen--size-box {
    border: 1px dashed var(--color-theme);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
}
