/* logo */

.print--bg {
    background-color: white;
}

.print--logo {
    width: 100%;
    height: 170px;
    object-fit: contain;
}

/* tables */

.th--lg {
    width: 180px;
}

.th--md {
    width: 125px;
}

.th--sm {
    width: 95px;
}

.th--xs {
    width: 70px;
}
