/* case--version */

.overview--card.case-version {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* case card */

.case--card-label {
  text-align: center;
  border-radius: var(--badge-radius);
}

