@media print {
    html,
    body {
        height: 100vh;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }
}

/* label */

.sticker--label-layout {
    padding: 90px 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sticker--label {
    width: 100mm;
    max-width: 100mm;
    overflow: hidden;
    height: 70mm;
    max-height: 100mm;
    background-color: var(--color-theme);
    border: 1px solid var(--color-theme);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sticker--label * {
    color: inherit;
    transition: 0.1s all ease;
}

/* header */
.sticker--label-header {
    width: 90%;
    margin: auto;
    max-height: 35%;
    border-bottom: 1px solid #c2c3c5;
    padding-top: 3mm;
    padding-bottom: 2mm;
}

.sticker--label-header div {
    width: 50%;
}

.sticker--label-header div:first-of-type {
    border-right: 1px solid #c2c3c5;
}

.sticker--label-header div * {
    font-size: 11px;
}

.sticker--label-header .sticker--label-tags span:last-of-type {
    margin-right: 0px !important;
}

/* header - vertical */
.sticker--label-header.flex-column {
    border-bottom: none;
    max-height: 40%;
}

.sticker--label-header.flex-column div {
    border-bottom: 1px solid #c2c3c5;
    margin-bottom: 5px;
    min-width: 60%;
}

.sticker--label-header.flex-column div:first-of-type {
    border-right: none;
}

/* -------------------- */

/* content */
.sticker--label-content {
    width: 90%;
    min-height: 40%;
    margin: auto;
}

.sticker--label-content div.larger-section {
    width: 65%;
}

.sticker--label-content div.smaller-section {
    width: 35%;
}

.sticker--label-content div * {
    font-size: 11px;
}

.sticker--label-macro {
    border: 1px solid #e6e6e6;
    border-radius: 30px;
    display: flex;
    width: 21%;
    margin-bottom: 0px;
    flex-direction: column;
    align-items: center;
    height: 85%;
    justify-content: space-evenly;
}

.sticker--label-macro * {
    color: inherit;
}

/* --------------------- */
/* footer */
.sticker--label-footer {
    width: 100%;
    height: 25%;
}
